@media (max-width: 1025px) {
  section {
    padding: 3rem 1.4rem;
  }

  span,
  a {
    font-size: 1.46rem;
  }

  p {
    font-size: 1.6rem;
  }

  .title-font-default {
    font-size: 4.6rem;
  }

  .subtitle-font-default {
    font-size: 2.8rem;
  }

  .header-3 {
    font-size: 1.8rem;
  }

  /* Food Page */
  :is(.food-info-container, .exercise-info-container) {
    background: #fff9;
    border-radius: 6px;

    padding: 1.2rem;
  }

  :is(.food-info-container, .exercise-info-container) p {
    color: var(--nero-color);

    font-weight: bold;
  }

  :is(.food-info-container, .exercise-info-container) img {
    filter: contrast(140%);

    width: 36rem;

    position: absolute;

    z-index: -1;
  }

  .d-grid-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  :is(.food-cards, .exercise-cards) img {
    filter: drop-shadow(0 0.6rem 1rem var(--sandy-brown));

    width: 12rem;
    height: 12rem;
  }

  .exercise-cards img {
    filter: drop-shadow(0 0.6rem 1rem var(--darks-late-blue));
  }

  .bmi-page-wrapper {
    width: min(100%, 90rem);
  }

  .form h2 {
    font-size: 2.4rem;
  }

  .name-content,
  .height-content,
  .weight-content,
  .send-form-button {
    width: min(100%, 24rem);
  }

  .form {
    gap: 2.8rem;
    padding: 2.4rem 0 2.4rem 0;
  }

  .form input,
  .send-form-button {
    height: 4.2rem;
  }

  .header-result-container h2 {
    font-size: 2rem;
  }

  .tips-content h2 {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .bmi-page-wrapper {
    height: 80rem;
  }

  .form {
    gap: 4rem;
  }
}

@media (max-width: 769px) {
  p {
    font-size: 1.46rem;
  }

  #header {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  .header-wrapper .svg-logo-content svg {
    width: 8rem;
  }

  .header-wrapper .svg-logo-content span {
    font-size: 1.4rem;
  }

  #header-nav {
    background: #00000025;
    border-radius: 6px;
  }

  .title-font-default {
    font-size: 4.2rem;
  }

  .welcome-wrapper h2 {
    font-size: 2.4rem;
  }

  .bmi-page-wrapper {
    height: 60rem;
  }

  .bmi-info-container h2 span {
    font-size: 2.8rem;
  }

  .header-result-container h2 {
    font-size: 1.8rem;
  }

  .header-result-container h3 {
    font-size: 1.6rem;
  }

  .header-result-container h3 span {
    font-size: 1.8rem;
  }
}

@media (max-width: 601px) {
  .menu-bar {
    display: flex;
  }

  #header-nav {
    backdrop-filter: blur(0.5rem) saturate(200%);
    -webkit-backdrop-filter: blur(0.5rem) saturate(200%);
    background-color: rgba(92, 74, 114, 0.69);
    border-radius: 1.2rem;
    box-shadow: 0 0 1.6rem #000;

    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);

    width: min(100%, 50rem);
    height: 50rem;
  }

  #header-ul-nav {
    height: 100%;

    flex-direction: column;
    justify-content: space-evenly;
  }

  #header-ul-nav li a {
    font-size: 1.8rem;
  }
}
