@media (max-width: 1025px) {
  section {
    padding: var(--header-height) 1.4rem;
  }

  span,
  a {
    font-size: 1.46rem;
  }

  p {
    font-size: 1.6rem;
  }

  .title-font-default {
    font-size: 4.6rem;
  }

  .subtitle-font-default {
    font-size: 2.8rem;
  }

  .header-3 {
    font-size: 1.8rem;
  }

  :is(.food-info-container, .exercise-info-container) {
    background: #fff9;
    border-radius: 6px;

    padding: 1.2rem;
  }

  :is(.food-info-container, .exercise-info-container) p {
    color: var(--nero-color);

    font-weight: bold;
  }

  :is(.food-info-container, .exercise-info-container) img {
    filter: contrast(140%);

    width: 36rem;

    position: absolute;

    z-index: -1;
  }

  .d-grid-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  :is(.food-cards, .exercise-cards) img {
    filter: drop-shadow(0 0.6rem 1rem var(--sandy-brown));

    width: 12rem;
    height: 12rem;
  }

  .exercise-cards img {
    filter: drop-shadow(0 0.6rem 1rem var(--darks-late-blue));
  }

  .form h2 {
    font-size: 2.4rem;
  }

  .name-content,
  .height-content,
  .weight-content,
  .send-form-button {
    width: min(100%, 24rem);
  }

  .form {
    gap: 2.8rem;
    padding: 2.4rem 0 2.4rem 0;
  }

  .form input,
  .send-form-button {
    height: 4.2rem;
  }

  .header-result-container h2 {
    font-size: 2rem;
  }

  .bmi-info-container h2 span {
    font-size: 2.8rem;
  }

  .header-result-container h3 span {
    font-size: 2.4rem;
  }

  .tips-content h2 {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  #header {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  .form {
    gap: 4rem;
  }
}

@media (max-width: 801px) {
  p {
    font-size: 1.5rem;
  }

  .header-wrapper .svg-logo-content svg {
    width: 8rem;
  }

  .header-wrapper .svg-logo-content span {
    font-size: 1.4rem;
  }

  .title-font-default {
    font-size: 4.2rem;
  }

  .welcome-wrapper h2 {
    font-size: 2.4rem;
  }

  .bmi-page-wrapper {
    height: 60rem;
  }

  .bmi-info-container {
    gap: 2.6rem;
  }

  .bmi-info-container h2,
  .bmi-info-container h2 span {
    font-size: 2rem;
  }

  .header-result-container h2,
  h3 span {
    font-size: 1.8rem;
  }

  .header-result-container h3 {
    font-size: 1.6rem;
  }
}

@media (max-width: 601px) {
  .menu-toggle-label {
    display: flex;
  }

  #header-nav {
    backdrop-filter: blur(0.5rem) saturate(200%);
    -webkit-backdrop-filter: blur(0.5rem) saturate(200%);
    background-color: rgba(92, 74, 114, 0.69);

    height: 100vh;

    position: absolute;
    inset: 0;

    opacity: 0;
    visibility: hidden;
    transition: 0.6s ease-in-out;
  }

  #header-nav.show-menu {
    visibility: visible;
    opacity: 1;
  }

  #header-ul-nav {
    height: 100%;

    flex-direction: column;
    gap: 10rem;
  }

  #header-ul-nav li a {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #home-page {
    height: 100vh;
  }

  .title-font-default {
    font-size: 3rem;
  }

  .welcome-container {
    margin-top: 4rem;
  }

  .welcome-wrapper {
    gap: 1rem;
  }

  .welcome-wrapper h2 {
    font-size: 2rem;
  }

  .welcome-wrapper h3 {
    font-size: 1.6rem;
  }

  #header-ul-nav {
    gap: 1.6rem;
  }

  #header-ul-nav li a {
    font-size: 1.4rem;
  }

  .bmi-page-wrapper {
    width: 100%;
    height: 26%;
  }

  .form {
    gap: 1.2rem;
  }

  .form h2 {
    font-size: 1.8rem;
  }

  .name-content,
  .height-content,
  .weight-content,
  .send-form-button {
    width: min(100%, 20rem);
  }

  .form input,
  .send-form-button {
    font-size: 1.4rem;

    height: 3.6rem;
  }

  .form label {
    font-size: 1.36rem;
  }

  .bmi-info-container {
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .d-grid-columns-1 {
    grid-template-columns: 1fr;
  }

  .menu-toggle-label {
    width: 3.2rem;
    height: 2rem;
  }

  .menu-toggle-label span {
    width: 3rem;
    height: 0.2rem;
  }

  .menu-toggle-label span.middle {
    top: 0.9rem;
  }

  input[type]:checked ~ span.top {
    width: 3rem;
    left: 0.3rem;
  }

  input[type]:checked ~ span.bottom {
    width: 3rem;
    bottom: -0.3rem;
  }

  #bmi-page {
    background: url('../images/bg-bmi.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
  }

  .title-font-default {
    font-size: 2.4rem;
  }

  .welcome-wrapper h2 {
    font-size: 1.6rem;
  }

  .welcome-wrapper h3 {
    font-size: 1.4rem;
  }

  .welcome-wrapper .go-to-bmi-button {
    border: 1px solid var(--sandy-brown);
    border-radius: 16px;
    box-shadow: 0 0 1.4rem var(--nero-color);

    padding: 0.8rem 1.6rem;

    transition: 0.4s ease-in-out;
  }

  .bg-bmi-container {
    display: none;
  }

  .form {
    width: 100%;

    visibility: visible;
    opacity: 1;
  }

  .bmi-info-container {
    width: 100%;

    visibility: hidden;
    opacity: 0;
  }

  .form,
  .bmi-info-container {
    background: transparent;
    backdrop-filter: blur(20px) saturate(200%);

    transition: opacity 1.2s;
  }

  .form.hide-form-480px {
    visibility: hidden;
    opacity: 0;
  }

  .bmi-info-container.show-bmi-info-480px {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 415px) {
  #header-ul-nav {
    gap: 4rem;
  }

  .welcome-container {
    width: 100%;

    margin-top: 6rem;
  }

  .welcome-wrapper {
    width: 100%;
  }

  :is(.food-info-container, .exercise-info-container) img {
    width: 30rem;
  }

  :is(.food-page-wrapper, .exercise-page-wrapper) h2 {
    font-size: 2rem;
  }

  :is(.food-cards, .exercise-cards) img {
    width: 10rem;
    height: 10rem;
  }

  .bmi-page-wrapper {
    height: 60%;
  }

  .form {
    gap: 2rem;
  }

  .bmi-info-container {
    gap: 2rem;

    top: 50%;
    transform: translateY(-50%);
  }
}
