:root {
  /* Colors */
  --darks-late-blue: #5c4a72;
  --indian-red: #a3586d;
  --sandy-brown: #f3af5a;
  --coral: #f4874c;
  --tomato: #f36a4e;
  --active-color: #45d545;
  --ivory-color: #fffff0;
  --nero-color: #171717;

  /* Fonts */
  --primary-font: 'Baloo 2', system-ui;
  --secondary-font: 'Inter', sans-serif;

  /* Sizes */
  --header-height: 6rem;
  --default-font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  font-size: var(--default-font-size);
  -webkit-font-smoothing: antialiased;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: var(--ivory-color);

  font-family: var(--primary-font);
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  color: var(--nero-color);

  width: 100%;

  font-family: var(--secondary-font);
  font-size: 1.8rem;
  font-weight: normal;
}

section {
  width: 100%;
  padding: 4rem 2.4rem;
  scroll-margin-top: var(--header-height);
  overflow: clip;
}

span {
  color: var(--ivory-color);

  font-family: var(--primary-font);
}

.title-font-default {
  color: var(--ivory-color);
  text-shadow: 0rem 0.6rem 0.6rem #00000085;

  font-family: var(--primary-font);
  font-size: 5rem;
  text-align: center;
  letter-spacing: 1rem;
}

.subtitle-font-default {
  font-family: var(--primary-font);
  font-size: 3.2rem;
  font-weight: normal;
  text-align: center;
}

.header-3 {
  color: var(--ivory-color);

  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  line-height: 3rem;
}

.light-background-color {
  background: var(--ivory-color);
  color: var(--nero-color);
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.d-grid-columns-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  row-gap: 8rem;
}

#header {
  background: var(--darks-late-blue);
  box-shadow: 0 0 1.2rem var(--nero-color);

  position: fixed;

  width: 100%;
  height: 6rem;

  padding: 1rem 6rem;

  z-index: 10;
}

.header-wrapper {
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

.header-wrapper .svg-logo-content {
  background: #00000025;
  border-radius: 6px;

  gap: 1rem;
  padding: 0 1.2rem;
}

.header-wrapper a {
  --animate-delay: 0.6s;
}

.header-wrapper svg {
  width: 10rem;

  padding-bottom: 0.4rem;
}

#header-nav {
  background: #00000025;
  border-radius: 6px;

  padding: 0.8rem;
}

#header-ul-nav {
  width: 100%;

  flex-wrap: wrap;
  gap: 3rem;
}

:is(#header-ul-nav li:hover > a, .active-link, .active-link:focus) {
  color: var(--active-color);
}

/* Home Page */
#home-page {
  min-height: 75vh;

  position: relative;
}

#home-page img {
  object-fit: cover;

  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  display: block;

  z-index: 1;
}

#home-page::before {
  content: '';
  background: color-mix(in srgb, var(--indian-red), transparent 45%);

  position: absolute;
  inset: 0;

  z-index: 2;
}

.welcome-container {
  width: min(100%, 60vw);

  padding: 1.4rem;

  z-index: 3;
}

.welcome-wrapper {
  margin: auto;

  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.welcome-wrapper h2 {
  color: var(--ivory-color);
}

.welcome-wrapper .go-to-bmi-button {
  background: transparent;
  color: var(--ivory-color);
  border: 2px solid var(--sandy-brown);
  border-radius: 6px;
  box-shadow: 0 0 2rem var(--nero-color);

  font-family: var(--secondary-font);

  padding: 1.2rem 2rem;

  transition: 0.4s ease-in-out;
}

.welcome-wrapper .go-to-bmi-button:hover {
  background: var(--sandy-brown);
  color: var(--darks-late-blue);
}

#food-page {
  min-height: 100vh;
}

.food-page-wrapper,
.exercise-page-wrapper {
  width: min(100%, 95vw);

  text-align: center;

  margin: auto;
}

.food-info-container,
.exercise-info-container {
  margin-top: 1rem;
}

:is(.food-info-container, .exercise-info-container) img {
  filter: drop-shadow(0 1.2rem 2rem var(--nero-color));
  object-fit: cover;

  width: 40rem;
}

:is(.food-info-container, .exercise-info-container) p {
  text-align: justify;
  line-height: 2.6rem;
}

.food-benefits-container,
.exercise-benefits-container {
  margin-top: 4rem;

  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.food-cards,
.exercise-cards {
  background: var(--darks-late-blue);
  border-radius: 16px;
  box-shadow: 0 0 1rem var(--nero-color);

  width: 100%;

  text-align: center;

  padding: 1.4rem;
}

.exercise-cards {
  background: var(--sandy-brown);
}

:is(.food-cards, .exercise-cards) p {
  color: var(--ivory-color);

  font-family: var(--primary-font);
}

.exercise-cards p {
  color: var(--nero-color);
}

:is(.food-cards, .exercise-cards) img {
  filter: drop-shadow(0 1.4rem 1.2rem var(--sandy-brown));

  width: 14rem;
  height: 14rem;

  margin-top: -8rem;

  padding: 1.2rem;
}

.exercise-benefits-cards-container img {
  filter: drop-shadow(0 1.4rem 1.2rem var(--darks-late-blue));
}

#bmi-page {
  min-height: calc(100vh - var(--header-height));

  display: flex;
  justify-content: center;
  align-items: center;
}

.bmi-page-wrapper {
  border-radius: 12px;
  overflow: hidden;

  position: relative;

  width: min(100%, 120rem);
}

.bg-bmi-form {
  background: var(--tomato);
  box-shadow: 0.6rem 0 2rem #00000075;
  object-fit: cover;

  width: 50%;

  z-index: 2;
}

.form {
  background: linear-gradient(0deg, var(--coral) 0%, var(--indian-red));
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  width: 50%;
  height: auto;

  flex-direction: column;
  gap: 4rem;

  transition: 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form h2 {
  color: var(--ivory-color);
}

.name-content,
.height-content,
.weight-content,
.send-form-button {
  width: min(100%, 30rem);

  position: relative;
}

:is(.height-content, .weight-content) label {
  pointer-events: none;

  position: absolute;
  top: 1.2rem;
  right: 2rem;

  font-family: var(--primary-font);
}

.form input {
  outline: none;

  text-indent: 1.5rem;

  width: 100%;
}

.form input,
.send-form-button {
  box-shadow: 0 0 0.4rem var(--nero-color);
  border-radius: 6px;
  border: none;

  font-family: var(--primary-font);

  height: 5rem;
}

.send-form-button:disabled {
  background: rgb(255, 0, 0);
  opacity: 0.5;

  cursor: not-allowed;
}

.bmi-info-container {
  background: linear-gradient(62deg, var(--darks-late-blue) 10%, var(--indian-red));
  color: var(--ivory-color);

  width: 50%;
  height: 100%;

  position: absolute;
  left: 0rem;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  padding: 1.4rem;

  transition: 1.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bmi-info-container h2 span {
  font-family: var(--primary-font);
  font-size: 3.2rem;
  font-weight: normal;
}

.bmi-info-container p {
  color: var(--ivory-color);
}

.close-bmi-info {
  background: var(--ivory-color);
  border-radius: 4px;

  font-size: 2.8rem;

  width: 4rem;
  height: 4rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  z-index: 0;

  transition: 0.4s ease-in-out;
}

.close-bmi-info:hover {
  box-shadow: 0 0 1.2rem var(--sandy-brown);
}

.header-result-container {
  text-align: center;
}

.header-result-container span {
  font-size: 2.8rem;
}

.tips-content {
  overflow: auto;
  scrollbar-width: thin;

  padding: 1.4rem;
}

.tips-content h2 {
  margin-bottom: 2.6rem;
}

/* Animations Form */
.bmi-page-wrapper form.hide-form {
  transform: translateX(-100%);
}

.bmi-info-container.show-info {
  left: 50%;
}

/* Menu Bar */
input[type='checkbox'] {
  display: none;
  visibility: hidden;
}

.menu-bar {
  display: none;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 30px;
}

.menu-bar span {
  position: absolute;
  width: 40px;
  height: 5px;
  background: #f1faee;
  border-radius: 8rem;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.menu-bar span.top {
  top: 0;
}

.menu-bar span.middle {
  top: 13px;
}

.menu-bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 44px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 44px;
  bottom: -6px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-30px);
  opacity: 0;
}
